<!DOCTYPE html>

{%extends 'customer/basecust.html'%}

{%load static%}


{% block body_block %}

<div class="container mt-5 ms-5">
    <h3 class="display-4" style="color:red">View all categories</h3>
    <hr>
    <table class="table">
        <tr>
            <th>Name</th>


        </tr>
        {%for cat in category%}
        <tr>
            <td>{{cat.name}}</td>


            <td><a class="btn btn-primary" href="{%url 'catdetail' cat.id%}">Detail</a></td>


        </tr>
        {%endfor%}


    </table>

</div>
{% endblock %}

