<!DOCTYPE html>

{%extends 'seller/baseadmin.html'%}

{%load static%}


  {% block body_block %}

<div class="container mt-5 ms-2">


    <table class="table " border="2">
        <tr>
            <th>Item Image</th>
            <th>Item Name</th>
            <th>Customer Name</th>
            <th>Ordered Date</th>
            <th>Order Status</th>
            <th>quantity</th>
        </tr>

        <tr>
            <td><img src="{{order.item.image.url}}" alt="" height="100px"></td>
            <td>{{order.item.name}}</td>
            <td>{{order.user}}</td>
            <td>{{order.created_date}}</td>
            <td>{{order.status}}</td>
            <td>{{order.quantity}}</td>
        </tr>

    </table>
</div>
  {% endblock %}

